<?xml version="1.0" encoding="UTF-8"?>
<!--
    http://www.baeldung.com/sql-logging-spring-boot
    https://www.mkyong.com/hibernate/how-to-configure-logging-in-hibernate-logback/
-->

<configuration>
    <!-- This including write the log to console with more colorful! -->
<!--    <include resource="org/springframework/boot/logging/logback/base.xml"/>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>

<!--    <appender name="ROLLING_FILE"-->
<!--              class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>practice.log</file>-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n-->
<!--            </Pattern>-->
<!--        </encoder>-->

<!--        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">-->
<!--            <FileNamePattern>practice.%i.log.zip</FileNamePattern>-->
<!--            <MinIndex>1</MinIndex>-->
<!--            <MaxIndex>10</MaxIndex>-->
<!--        </rollingPolicy>-->

<!--        <triggeringPolicy-->
<!--                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
<!--            <MaxFileSize>2MB</MaxFileSize>-->
<!--        </triggeringPolicy>-->

<!--    </appender>-->


    <logger name="org.tnmk.practicespringlogging.pro01simplelog" level="DEBUG" />
    <!-- Somehow, the bellow logger doesn't work, and I've no idea why???!!! -->
    <!-- <logger name="org.tnmk.practicespringlogging.pro01simplelog.story.SimpleLogWriting" level="DEBUG" />-->

    <root level="INFO">
<!--        <appender-ref ref="ROLLING_FILE" />-->
        <appender-ref ref="STDOUT" />
    </root>

</configuration>