<configuration>
    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="org.tnmk.common.log.json.JsonLayout">
            <jsonFormatter
                    class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>false</prettyPrint>
            </jsonFormatter>
            <appendLineSeparator>true</appendLineSeparator><!-- Write each message in a separate line -->
            <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSXXX</timestampFormat><!-- ISO8601 format -->
            <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="json"/>
    </root>
</configuration>